<mat-toolbar color="primary" class="toolbar">
  <span>Portofolio</span>
  <span class="spacer"></span>
  <button mat-raised-button class="toolar-bttn" (click)="openAdd()">Add work</button>
  <button mat-button class="toolar-bttn" (click)="showHidden()" color="accent">
    <mat-icon>{{!hiddensts ? 'visibility_off': 'visibility'}}</mat-icon>
  </button>
</mat-toolbar>



<div class="display-center">
  <div class="display-columns">
    <ng-container *ngFor="let w of displayedWorks">
      <ng-container *ngIf="hiddensts || !w.hiddenStatus">
        <div>
        <mat-card class="card" >
          <mat-card-header>
            
            <mat-card-title-group>
              <img mat-card-image style="height:100px; object-fit: scale-down;" [src]="w.imageURL">
              <mat-card-title class="sub-title"> {{ w.companyName }}</mat-card-title>
              <mat-card-subtitle class="sub-title" style="font-size: 12px;"> <a href="{{w.companySite}}" target="_blank">{{  w.companySite }} </a> </mat-card-subtitle>
              
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <p class="infotext">
              {{ w.additionalText }}
            </p>
          </mat-card-content>
          <mat-card-actions style="display: flex; justify-content: end;">
            <button mat-icon-button (click)="openEdit(w)" color="primary"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button (click)="deleteWork(w.id)" color="warn"><mat-icon>delete</mat-icon></button>
          </mat-card-actions>
        </mat-card>

      </div>
    </ng-container>
    </ng-container>
  </div>
</div>


